@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease-in-out;
}

/* Ẩn thanh cuộn (Chrome, Safari, Edge) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Ẩn thanh cuộn (Firefox) */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
